<h2>Create page</h2>
<form method="POST" action="/create" enctype="multipart/form-data">
    <div class="input-field">
        <input type="text" name="title" placeholder="Think up the title of the note" required>
        <input type="text" name="note" placeholder="Think up the your note" required>
        <input type="file" name="image" placeholder="Past your image" required>

    </div>
    <button type="submit" class="btn">Create</button>
</form>