<h2>Hello, here are tou notes: </h2>

{{#if notes.length}}
<ul class='list'>
    {{#each notes}}
    <li class='list__item'>
        <form action="/delete" method="POST">
            <h3>Title: {{title}}</h3>
            <p>Note: {{note}}</p>
            <input type="hidden" value={{_id}} name='id'>
            <button type="submit">Delete note</button>
        </form>
    </li>
    {{/each}}
</ul>
{{#if isPaginate}}<form action="/show-all" method="GET"><button type="submit">Next page</button></form> {{/if}}
{{else}}
<p>There are no notes to show...</p>
{{/if}}